@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.button-link {
    // EXTEND
    @extend %interactive-focus;

    display: inline-block;

    background-color: $rosa-malva;
    color: $blanco;

    padding: $espacio-sm $espacio-md;
    border-radius: $radio-pill;

    font-weight: 700;
    margin-top: $espacio-sm;

    // MIXIN CON PARÁMETROS
    @include hover-lift(-2px, $sombra-button);

    &:hover {
        background-color: $verde-profundo;
        color: $blanco;
    }

    &:focus {
        background-color: $verde-profundo;
        color: $blanco;
    }

    &:active {
        background-color: $rosa-malva;
        color: $blanco;
        transform: translateY(1px);
        box-shadow: none;
    }
}