@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: $espacio-md;

    @include tablet {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: $espacio-lg;
    }
}

.card {
    flex: 1;
    background-color: $blanco;
    border: 2px solid $arena;
    border-radius: $radio-lg;
    padding: $espacio-lg $espacio-md;
    box-shadow: $sombra-card;

    // MIXIN CON PARÁMETROS
    @include hover-lift(-5px, $sombra-card-hover);

    // EXTEND
    @extend %interactive-focus;

    &:hover {
        border-color: $rosa-malva;
    }

    &:focus-within {
        border-color: $rosa-malva;
        box-shadow: $sombra-focus;
    }

    h2,
    h3 {
        margin-bottom: $espacio-sm;
    }

    p {
        margin-bottom: $espacio-md;
    }
}